.contenedor-gestion-horarios-css-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px 100vh;
    grid-template-areas:    "titulo         botonera"
                            "contenedor     contenedor";
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.contenedor-gestion-horarios-css-grid span{
    cursor: pointer;
    margin-left: 15px;
}

.contenedor-gestion-horarios-css-grid p,.contenedor-gestion-horarios-css-grid a{
    display: inline;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 30px;
}

.contenedor-gestion-horarios-css-grid p{
    color: #5a5a5a;
}

.titulo-gestion{
    grid-area: titulo;
}

.btn-gestion{    
    grid-area: botonera;   
}

.contenedor-gestion-horarios-css-grid .tarjeta-contenedora-contenido{
    grid-area: contenedor;
    display: block;    
}

/*Modificando el calendario*/
.rbc-calendar{
    min-width: 650px;
}

.rbc-row-content{
    z-index: 0;
}

.rbc-event{
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}

.rbc-header a {
    margin-left: 0px;
}

/*Consultas css*/

@media screen and (max-width: 850px){
    .contenedor-gestion-horarios-css-grid{
        grid-template-rows: 60px 100vh;
    }    

    .contenedor-gestion-horarios-css-grid p, .contenedor-gestion-horarios-css-grid a{
        font-size: 0.8rem;
        margin-left: 5px;
    }    
    
}

@media screen and (max-width: 768px){
    .contenedor-gestion-horarios-css-grid{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }   
}
@media screen and (max-width: 610px){
    
    .react-datepicker-popper{
        left: -50px !important;
    }
}