.contenedor-css-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas:    "avisos            avisos               avisos              avisos              avisos"
                            "cajon-colapsable  selector-principal   selector-principal  selector-principal  selector-principal"
                            "cajon-colapsable  contenedor-selector-secundario  contenedor-selector-secundario contenedor-selector-secundario contenedor-selector-secundario"
}

.contenedor-css-grid > div {
    padding: 20px;
}

.contenedor-css-grid .avisos{
    padding: 5px;
    background: #ff695e;
    grid-area: avisos;
    color: rgb(241, 241, 241);
}
.contenedor-css-grid .cajon-colapsable{
    background: #12273b;
    grid-area: cajon-colapsable;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-css-grid .cajon-colapsable div{
    color: #fff;
}
.contenedor-css-grid .cajon-colapsable .nombre-seguimiento{
    color: rgb(158, 158, 158);
    font-size: 20px;    
}

.contenedor-css-grid .cajon-colapsable .contenedor-datos-resumidos-perfil
{
    margin-right: auto;
    margin-top: 50px; 
}

.contenedor-css-grid .cajon-colapsable .contenedor-atributos-perfil
{
    margin-right: auto;
    margin-top: 10px; 
}

.contenedor-css-grid .cajon-colapsable .txt-preguntado-por {
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
  }

.contenedor-css-grid .cajon-colapsable .nombres-perfil {
    font-size: 30px;
    color: #fff;
    margin: 25px auto 0;
  }

.contenedor-css-grid .cajon-colapsable .foto-perfil {
    background-position: center center;
    background-size: cover;
    border: 5px #efefef solid;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(255,255,255,0.61);
    -moz-box-shadow: 0px 0px 38px -6px rgba(255,255,255,0.61);
    box-shadow: 0px 0px 38px -6px rgba(255,255,255,0.61);
    height: 150px;
    width: 150px;
    z-index: 3;
  }

.contenedor-css-grid .selector-principal-perfil{
    background: rgb(58, 89, 146);
    grid-area: selector-principal;
    padding: 0px;
    display: block;
    max-height: 53px;
}

.contenedor-css-grid .selector-principal-perfil .control-principal-perfil{

    list-style: none;
    margin: 0;
    background: #fff;    
    color: #000;
    font-size: 23px;
    max-height: 53px;
    display: block;
    position: relative;
}


.contenedor-css-grid .selector-principal-perfil .control-principal-perfil .boton-control-principal{

    transition: all 0.3s ease;
}

.contenedor-css-grid .selector-principal-perfil .control-principal-perfil .boton-control-principal:hover{

    border-bottom: 5px solid rgb(58, 89, 146);
    background: #c2e1ff;
}

.boton-control-principal-seleccionado{
    border-bottom: 5px solid rgb(58, 89, 146);
    background: #9ecfff;
}

.boton-control-principal-deseleccionado{
    border-bottom: 0px;
    background: #fff;
}

.contenedor-css-grid .selector-principal-perfil .control-principal-perfil a {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: block;
    padding: 8px;
    color: #000;
    width: 100%;
    float: left;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), #919191) 0 100%;    

    transition: all 0.5s ease;

    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  }

.control-principal-perfil-oculto {
    display: none !important;    
  }

  .contenedor-css-grid .contenedor-selector-secundario{
    background:  rgb(58, 89, 146);
    grid-area: contenedor-selector-secundario;
    min-height: 100vh;
    
}

.contenedor-selector-secundario-revisando-ejercicio{
    background:  rgb(58, 89, 146);
    grid-area: contenedor-selector-secundario;
    min-height: 100vh;
   
}

.contenedor-css-grid .contenedor-selector-secundario .control-secundario-perfil{
    display: block;
}

.control-secundario-perfil-oculto{
    display: none;
}

.contenedor-css-grid .contenedor-selector-secundario .control-secundario-perfil .boton-control-secundario{
   
    text-align: center;
    font-size: 20px;
    min-height: 50px;
    position: relative;
    
 }

 .contenedor-css-grid .contenedor-selector-secundario .control-secundario-perfil .boton-control-secundario a
 {
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    color:black;
    display: block;
    padding: 2px;
    margin-right: 20px;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;

    -webkit-box-shadow: 11px 6px 14px -5px rgb(0, 0, 0);
    -moz-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);

    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  
  animation: movimiento-control-secundario 0.4s linear;
  webkit-animation: movimiento-control-secundario 0.4s linear;
    
 }
 
 /* Animación de las pestañas */
@keyframes movimiento-control-secundario {
    0%   {top: -40px}
    50%  {top: 20px}
    100% {top: 0px}
  }

 .contenedor-css-grid .contenedor-selector-secundario .control-secundario-perfil .boton-control-secundario a:hover
 {
    background: #c2e1ff;
 }

 .boton-control-secundario-seleccionado{
    background: #9ecfff !important;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
    box-shadow: none !important;
}

.boton-control-secundario-deseleccionado{
    border-bottom: 0px;
    background: #fff;
}

 .contenedor-css-grid .contenedor-selector-secundario .contenido-seleccion{

}

.contenedor-css-grid .contenedor-selector-secundario .contenido-seleccion .tarjeta-contenedora-contenido{
    border-radius: 10px;
    background: rgb(238, 238, 238);
    margin-top: 15px;
    padding: 20px;
    height: auto;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    -moz-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
}

.tarjeta-contenedora-contenido-extendida{
    border-radius: 10px;
    background: rgb(238, 238, 238);
    margin-top: 0px;
    padding: 20px;
    height: auto;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    -moz-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
}

.extendiendo-tarjeta-contenedora-enter-done{
    border-radius: 10px;
    background: rgb(238, 238, 238);
    margin-top: 0px !important;
    padding: 20px;
    height: auto;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    -moz-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
}

@media screen and (max-width: 768px){
    .contenedor-css-grid {
        grid-template-areas:    "avisos            avisos               avisos              avisos              avisos"
                            "selector-principal  selector-principal   selector-principal  selector-principal  selector-principal"
                            "contenedor-selector-secundario  contenedor-selector-secundario  contenedor-selector-secundario contenedor-selector-secundario contenedor-selector-secundario"
    }
    .cajon-colapsable{
        display: none !important
    }
}

/*Tarjetas dentro del contenedor*/
.tarjeta-ejercicio{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    min-height: 100px;
    padding: 40px;
    background: #fff;
    margin-bottom: 10px; 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80px 5fr 1fr;
    grid-template-rows: 80px 100px 30px;
    grid-template-areas:    "img            encabezado      estado"
                            "contenido      contenido       contenido"
                            "pie            pie             revisar"
}

.img-perfil-tarjeta-ejercicio{
    display: block;
    border-radius: 50%;
    border: 1px solid #efefef;
    justify-self: stretch;
    align-self: stretch;
    grid-area: img;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

.encabezado-tarjeta-ejercicio{
    grid-area: encabezado;
    margin-left: 30px;
}

.encabezado-tarjeta-ejercicio h2{
    font-size: 25px;
    color: #5a5a5a;
    white-space: nowrap;
    overflow: hidden;
}

.encabezado-tarjeta-ejercicio p{
    font-size: 15px;  
    font-weight: bold;  
    color: #a3a3a3;
    white-space: nowrap;
    overflow: hidden;
}

.estado-tarjeta-ejercicio{
    grid-area: estado;
    justify-self: end;
}

.contenido-tarjeta-ejercicio{
    grid-area: contenido;
    overflow: hidden;    
    text-align: justify;
    text-justify: inter-word;
}

.contenido-tarjeta-ejercicio p{
    overflow: hidden;
    margin-top: 20px;
    color: rgb(170, 170, 170);
    font-size: 15px;
    line-height: 20px;
    
}

.btn-revisar-tarjeta-ejercicio{
    grid-area: revisar;
    justify-self: stretch;
    background: rgb(208, 247, 176);
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    -webkit-box-shadow: 3px 2px 11px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 11px -7px rgba(0,0,0,0.75);
box-shadow: 3px 2px 11px -7px rgba(0,0,0,0.75);
}

/*Tarjeta detalle ejercicio*/
.tarjeta-detalle-ejercicio{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    min-height: 100px;
    padding: 20px;
    background: #fff;
    margin-bottom: 10px; 
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px minmax(40px,auto) minmax(80px,auto) 30px;        
    grid-template-areas:    "encabezado-detalle-ejercicio   encabezado-detalle-ejercicio    estado-detalle-ejercicio"
                            "asunto-detalle-ejercicio       asunto-detalle-ejercicio        mensaje-detalle-ejercicio"
                            "contenido-detalle-ejercicio    contenido-detalle-ejercicio     mensaje-detalle-ejercicio "
                            "pie-detalle-ejercicio          pie-detalle-ejercicio           pie-detalle-ejercicio"
}

.encabezado-detalle-ejercicio{
    grid-area: encabezado-detalle-ejercicio;
    align-items: center;

}

.encabezado-detalle-ejercicio span{
    cursor: pointer;
}

.encabezado-detalle-ejercicio p{
    display: inline;
    font-size: 16px;
    color: rgb(54, 54, 54);
    margin-left: 20px;
}

.asunto-detalle-ejercicio{
    grid-area: asunto-detalle-ejercicio;
    border-top: 1px solid rgb(170, 170, 170);
    margin-left: 30px;

}

.asunto-detalle-ejercicio h1{
    color:#5a5a5a;
    font-size: 28px;
    margin-top: 20px;
}

.estado-detalle-ejercicio{
    grid-area:estado-detalle-ejercicio;
    justify-self: end;

}

.contenido-detalle-ejercicio{
    grid-area:contenido-detalle-ejercicio;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 30px;
}

.contenido-detalle-ejercicio p{
    color:#838383;
    font-size: 18px;
    line-height: 30px;
}

.mensaje-detalle-ejercicio{
    grid-area: mensaje-detalle-ejercicio;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px rgb(223, 223, 223) solid;
    margin-left: 20px;
    margin-right: 20px;
}

.mensaje-detalle-ejercicio p{
text-align: center;
background: rgb(50, 146, 255);
color: #fff;
padding: 10px;
border-top-left-radius: 9px;
border-top-right-radius: 9px;
flex-grow: auto;
}

.mensaje-detalle-ejercicio textarea{
    margin: 10px;
    outline: none;
    text-decoration: none;
    border:none;
    flex-grow: 1;
    resize: none;
    }

.mensaje-detalle-ejercicio .mensaje-detalle-ejercicios-botones{
    flex-grow: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contenedor-controles-adjuntos{
    flex-grow: 40;
    display: flex;
    justify-content: space-around;
}

.contenedor-controles-adjuntos span{
    cursor: pointer;
}

.btn-enviar-mensaje{
    flex-grow: 1;
    margin-left: auto;
    border:none;
    outline: none;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    background: green;
    cursor: pointer;

}

.pie-detalle-ejercicio{
    grid-area: pie-detalle-ejercicio;
    

}