.contenedor-css-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:    "avisos            avisos               avisos              avisos              avisos"
                            "cajon-colapsable  selector-principal   selector-principal  selector-principal  selector-principal"
                            "cajon-colapsable  contenedor-selector-secundario  contenedor-selector-secundario contenedor-selector-secundario contenedor-selector-secundario"
}

.contenedor-css-grid span, button{
    cursor: pointer;
}
.contenedor-css-grid span{
    margin-left: 15px;
}
.contenedor-css-grid p{
    display: inline;
    font-size: 0.9rem;
    color: #5a5a5a;
}

.contenedor-css-grid > div {
    padding: 20px;
}

.contenedor-css-grid .avisos{
    padding: 5px;
    background: #ff695e;
    grid-area: avisos;
    color: rgb(241, 241, 241);
    display: none;
}

.cajon-colapsable{
   grid-area: cajon-colapsable;
   
}

.selector-principal-perfil{
    grid-area: selector-principal;
}

  .contenedor-css-grid .contenedor-selector-secundario{
    grid-area: contenedor-selector-secundario;
    min-height: 100vh;
    
}

.contenedor-selector-secundario-revisando-ejercicio{
    background:  rgb(58, 89, 146);
    grid-area: contenedor-selector-secundario;
    min-height: 100vh;
   
}
 
 /* Animación de las pestañas */
@keyframes movimiento-control-secundario {
    0%   {top: -40px}
    50%  {top: 20px}
    100% {top: 0px}
  }

.extendiendo-tarjeta-contenedora-enter-done{
    border-radius: 10px;
    background: rgb(238, 238, 238);
    margin-top: 0px !important;
    padding: 20px;
    height: auto;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    -moz-box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
    box-shadow: 11px 6px 14px -5px rgba(0,0,0,1);
}



@media screen and (max-width: 1100px){

   
    .contenedor-css-grid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:    "avisos            avisos               avisos              avisos              avisos"
                                "selector-principal  selector-principal   selector-principal  selector-principal  selector-principal"
                                "contenedor-selector-secundario  contenedor-selector-secundario  contenedor-selector-secundario contenedor-selector-secundario contenedor-selector-secundario"
    }

  
    
}

@media screen and (max-width: 768px){

    .contenedor-css-grid > div {
        padding: 10px;
    }
  
}

