/*Le da una sombrita bien sabrosona a la barra*/
.sombra-barra{
  -webkit-box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);
  box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);

}

/*Este bloquecito es el principal de la página de inicio*/
.bloque-principal{

  min-height:400px;
  background-color: #3498db;
  color: #fff !important;
  text-align: center;
}

/*Este bloquecito va inmediatamente debajo de la barra, por eso debe tener un espaciado interiorr*/
.debajo-barra{
  padding-top: 100px;
  padding-bottom: 50px;
}


/*Los bloques laterales de la página de inicio*/
.bloque-lateral{

  min-height:300px;
  background-color: #fff;
  padding: 0px;

}

/*El botoncito de la página de inicio*/
.boton-bloque-principal{
  border: 1px solid;
  border-color: #fff;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  padding: 20px 60px;
  width: 300px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 30px;

}

.boton-bloque-principal:hover{

  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);


}

/*Este bloquecito contiene el cuerpo principal de una página, por eso debe tener una altura mínima*/
.bloque-contenedor{
  min-height: 90vh;
}

.pie-bienvenida{

  color: #fff !important;
}

.enlace-pie{

  text-decoration: none;
  color: white;

}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content{
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  
}

.footer{
  background-color: rgb(4, 3, 7);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: rgb(4, 3, 7);
}

.optionMenu{

width: 100%;

}

/*El separador bello*/
hr {
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  margin: 35px 0 33px 0;
}

/*Media queries*/

/*telefonitos*/
@media (max-width: 575px){

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }

  .bloque-texto-principal{

    padding-left: 30px;
    padding-right: 30px;
    
  }
  

}

/*teléfonos*/
@media (min-width: 576px) { 

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }  
 
 }
/*tabletas*/
@media (min-width: 768px) {

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }
 

 }

/*computadoras*/
@media (min-width: 992px) { 

  .bloque-lateral-texto{

    padding: 45px 60px 0px;
  
  }
  

 }
