/*Le da una sombrita bien sabrosona a la barra*/
.sombra-barra{
  -webkit-box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);
  box-shadow: 0px -8px 15px 10px rgba(0,0,0,0.5);

}

/*Este bloquecito es el principal de la página de inicio*/
.bloque-principal{

  min-height:400px;
  background-color: #3498db;
  color: #fff !important;
  text-align: center;
}

/*Este bloquecito va inmediatamente debajo de la barra, por eso debe tener un espaciado interiorr*/
.debajo-barra{
  padding-top: 100px;
  padding-bottom: 50px;
}


/*Los bloques laterales de la página de inicio*/
.bloque-lateral{

  min-height:300px;
  background-color: #fff;
  padding: 0px;

}

/*El botoncito de la página de inicio*/
.boton-bloque-principal{
  border: 1px solid;
  border-color: #fff;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  padding: 20px 60px;
  width: 300px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 30px;

}

.boton-bloque-principal:hover{

  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);


}

.enlace-boton{
cursor: pointer;
}

/* Los estilos de la caja de búsqueda con sugerencias de cursos*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  /*position: absolute;*/
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  /*position the autocomplete items to be the same width as the container:*/
  /*top: 100%;
  left: 0;
  right: 0;*/
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/*Este bloquecito contiene el cuerpo principal de una página, por eso debe tener una altura mínima*/
.bloque-contenedor{
  min-height: 90vh;
}

.pie-bienvenida{

  color: #fff !important;
}

.enlace-pie{

  text-decoration: none;
  color: white;

}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content{
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  
}

.footer{
  background-color: rgb(4, 3, 7);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: rgb(4, 3, 7);
}

.optionMenu{

width: 100%;

}

a{

text-decoration: none;

}

/*Para la transiciones del registro*/
.registro-enter{
opacity: 0.01;
transform: scale(0.1);
}

.registro-enter-active{
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.registro-exit{
  opacity: 1;
  transform: scale(1);
}

.registro-exit-active{
  opacity: 0.01;
  transform: scale(0.1);
  transition: all 300ms;
}

/*Para el wizard*/
.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;
}
.step-indicator li {
  display: table-cell;
  position: relative;
  float: none;
  padding: 0;
  width: 1%;
}
.step-indicator li:after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  top: 32px;
}
.step-indicator li:after {
  left: 50%;
}
.step-indicator li:last-child:after {
  display: none;
}
.step-indicator li.active .step {
  border-color: #4183D7;
  color: #4183D7;
}
.step-indicator li.active .caption {
  color: #4183D7;
}
.step-indicator li.complete:after {
  background-color: #87D37C;
}
.step-indicator li.complete .step {
  border-color: #87D37C;
  color: #87D37C;
}
.step-indicator li.complete .caption {
  color: #87D37C;
}
.step-indicator .step {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  position: relative;
  width: 64px;
  z-index: 1;
}
.step-indicator .step:hover {
  cursor: pointer;
}
.step-indicator .caption {
  color: #ccc;
  padding: 11px 16px;
}

/*El separador bello*/
hr {
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
  margin: 35px 0 33px 0;
}

/*El estilo de la tarjeta de presentación*/

.tarjeta-presentacion {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tarjeta-presentacion .title {
  color: grey;
  font-size: 18px;
}

.tarjeta-presentacion .btn-temple {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  transition: all 500ms ease-in;

}

.tarjeta-presentacion .enlace-social {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.tarjeta-presentacion .btn-temple:hover, .enlace-social:hover {
  opacity: 0.7;
  transition: all 500ms ease-in;
}

/*Media queries*/

/*telefonitos*/
@media (max-width: 575px){

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }

  .bloque-texto-principal{

    padding-left: 30px;
    padding-right: 30px;
    
  }
  

}

/*teléfonos*/
@media (min-width: 576px) { 

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }  
 
 }
/*tabletas*/
@media (min-width: 768px) {

  .bloque-lateral-texto{

    padding: 45px 30px 0px;
  
  }
 

 }

/*computadoras*/
@media (min-width: 992px) { 

  .bloque-lateral-texto{

    padding: 45px 60px 0px;
  
  }
  

 }
