.modal-info-detalle{
    cursor:auto;
    display: grid;
    position: fixed;
    z-index: 1051;
    top: 500px;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 20px;
    grid-gap: 30px;
    background: #fff;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px minmax(30px,auto);
    grid-auto-rows: minmax(30px,auto);
    grid-template-areas:"encabezado-info-detalle     botonera-info-detalle"
                        "contenido-info-detalle      contenido-info-detalle";

}

.modal-info-detalle a{
    color: #007bff !important;
}

.modal-info-detalle p{
    display: inline;
    font-size: .9rem;
    color: #5a5a5a;
}

.txt-titulo-detalle{
    display: inline;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 30px;
    color: #5a5a5a;
}

.modal-info-detalle span{
    cursor: pointer;
    margin-left: 15px;
}

.modal-info-detalle input, textarea{
outline:none;
border:1px rgb(160, 160, 160) solid;
border-radius: 10px;
padding: 5px;
resize: none;
}

.encabezado-info-detalle{
    grid-area: encabezado-info-detalle;
    align-items: center;
}

.encabezado-info-detalle p{
    font-weight: normal !important;
    margin-left: 20px !important;
}

.encabezado-info-detalle span{
    margin-left: 0px;
}

.botonera-info-detalle{
    grid-area:botonera-info-detalle;
    justify-self: end;
}

.contenido-info-detalle{
    grid-area: contenido-info-detalle;
    display: grid;
    grid-template-rows: minmax(250px, auto);
    grid-auto-rows: minmax(250px, auto);
}