.barra-inferior{
    max-width: 100vw;
    z-index: 100;
    display: none;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0px;
    left: 0px;
    min-height: 50px;
    width: 100vw;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    justify-content: space-evenly;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 53%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 53%, rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 53%, rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 53%, rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 53%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );

}

.barra-inferior div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-left: 1px solid rgb(212, 212, 212);
    /*border-right: 1px solid rgb(212, 212, 212);*/

}

.opcion-barra-inferior-seleccionada{
    background: #c2c2c2;
}

@media (max-width: 991px){
    .barra-inferior{
        display: flex;
    }
}